$primary-color: #9356DC ;
$secondary-color: #FF79DA ;
$tertio-color: #99E2D0 ;

$bg-color-light: #f6f6f6;
$bg-color-dark: #353535;

@mixin center_bloc {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@mixin ombre {
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
}