@use "constant";

.footer
{
    font-size: 16px;
    background-color: constant.$bg-color-dark;

    padding: 26px;

    ul
    {
        margin-top: 23px;

        li
        {
            margin: 10px 0;
            cursor: pointer;
            color: white;

            a
            {
                color: white;
            }

            .fas
            {
                font-size: 13px;
                margin-right: 10px;
                width: 15px;
            }
        }
    }

    &__content
    {
        @include constant.max-size;

        @media screen and (min-width:800px) {

            display: flex;
            justify-content: center;

            text-align: center;

            ul
            {
                display: flex;
                justify-content: center;
                margin: 0;
                
                li
                {
                    margin: 0px 20px;
                }
            }
        }
    }
}

.footer-logo
{
    img
    {
        filter: brightness(100);
        height: 18px;
    }
}