$primary-color: #9356DC ;
$secondary-color: #FF79DA ;
$tertio-color: #99E2D0 ;

@font-face {
    font-family: "Roboto";
    src:   url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src:   url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


#localisation
{
    background-color: #eaeaea;
    font-size: 16px;
    padding: 16px;
    text-align: center;

    &__locate span
    {
        margin-left: 20px;
    }
}
