@use "constant";

@font-face {
    font-family: "Roboto";
    src:   url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src:   url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}


.info
{
    padding: 0 20px;

    &__title
    {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 21px;
    }

    &__content
    {
        margin-left: 12px;

        &__bloc
        {
            display: flex;
            background-color: constant.$bg-color-light;
            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);

            padding: 28px 0 22px 0;
            margin-bottom: 25px; 

            border-radius: 25px;

            &__step
            {
                background-color: constant.$primary-color;
                color: white;

                width: 24px;
                height: 24px;

                margin-left: -12px;

                border-radius: 90px; 

                font-size: 14px;

                @include constant.center_bloc;
            }

            &__icon
            {
                opacity: 0.6;
                margin: 0 22px;

                &.fa-store
                {
                    opacity: 1;
                    color: constant.$primary-color;
                }
            }
        }
    }
}


.restaurants
{
    margin-top: 70px;
    padding: 0 20px;

    &__title
    {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 21px;
    }
}

.card
{
    &__image
    {
        overflow: hidden;
        width: 325px;
        height: 175px;

        img
        {
            width: 325px;
            height: calc(175px*1.2);
            margin-top: -15%;
        }
    }
}