@use "constant";

.info
{
    @include constant.max-size;
    padding: 0 20px;

    &__title
    {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 21px;
    }

    &__content
    {
        margin-left: 12px;

        &__bloc
        {
            position: relative;
            z-index: 1;

            display: flex;
            background-color: constant.$bg-color-light;
            @include constant.ombre;

            padding: 28px 0 22px 0;
            margin-bottom: 25px; 

            border-radius: 25px;

            cursor: pointer;

            &__step
            {
                background-color: constant.$primary-color;
                color: white;

                width: 24px;
                height: 24px;

                margin-left: -12px;

                border-radius: 90px; 

                font-size: 14px;

                @include constant.center_bloc;
            }

            &__icon
            {
                opacity: 0.6;
                margin: 0 22px;

                &.fa-store
                {
                    opacity: 1;
                    color: constant.$primary-color;
                }
            }

            &:nth-child(3)
            {
                background-color: #f5edff;
            }

            &:hover
            {
                &::after
                {
                    opacity: 1;
                }
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                @include constant.ombre(5px, 5px, 5px,#c5c5c5);
                opacity: 0;
                z-index: -1;
                transition: opacity 250ms;
                border-radius: 25px;
            }
        }
    }
}


.restaurants
{
    margin-top: 70px;
    padding: 0 20px;
    background-color: constant.$bg-color-light;

    &__title
    {
        @include constant.max-size;
        padding-top: 50px;
        margin-bottom: 30px;
        font-size: 21px;
    }

    &__content
    {
        @include constant.max-size;

        padding-bottom: 65px;
    }


    @media screen and (min-width:800px) {

        &__content
        {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            gap: 0px 20px;
            grid-template-areas: "title title" "d1 d2" "d3 d4";
        }  
    }
}


.card
{
    position: relative;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 18px;
    @include constant.ombre;

    &__new {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    &__image
    {
        overflow: hidden;
        width: 100%;
        height: 175px;

        &__box
        {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 174px;
            overflow: hidden;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            &.center
            {
                align-items: center;

                & img
                {
                    top: -27px;
                    position: relative;
                }
            }
            
            & img
            {
                width: 100%;
            }
        }

        
    }

    &__content
    {
        padding: 17px 14px;
        display: flex;
        justify-content: space-between;

        
        &__name
        {
            font-size: 18px;
        }

        &__localisation
        {
            font-size: 16px;
        }

        &__like
        {
            margin-right: 25px;
        }
    }
}